*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #60b9df;
}

nav{
    border: none;
    border-style: none;
    background-color: #00337C;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}


nav .navbar-brand .green
{
    color: #03C988;
}

ul li{
    margin-left: 1rem;
    
}

ul li button a{
    color: aliceblue;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}


.image{
    height: 100%;
    width: 100%;
}

.sell,.buy{
    margin: 15px;
    border: 2px solid #021061;
    border-radius: 1rem;
    text-align: center ;
    padding: 20px;
}
.buy{
    margin-top: 30px;
    

}
.row1 h3{
    color: #ffffff;
    margin-top: 10px;

}



.row1{
    height:  auto;
    border-radius: 1rem;
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    background-color: #1C82AD;
}
.column1{
    width: 30%;
}
.column2{
    width: 80%;
}
.p-5{
    padding: 2.5rem !important;
}

.container {
    width: 250vw !important;
}

.register{
    margin-top: 2rem;
}
hr{
    border: 2px solid black;
}
.tradingview-widget-container{
    padding: 20px;

    width: 100%;
}
.nav-link{
    font: 1rem;
    color:#03C988;
}