{% extends "layout.html" %} {% block title %} wallet {% endblock %} {% block main %}

<div class="row">
  <div class="col-4">
    <form action="/buy" class="buy" method="post">
    <h3>BUY</h3>

      <div class="form-group">
        <input
          class="form-control"
          name="symbol"
          placeholder="Symbol"
          type="text"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          name="shares"
          placeholder="Shares"
          type="number"
          min="0"
        />
      </div>
      <button class="btn btn-primary" type="submit">Buy</button>
    </form>
    <hr>
    <form action="/sell" class="sell" method="post">
    <h3>SELL</h3>

      <div class="form-group">
        <select class="form-control" name="symbol" type="text">
          <option value="" disabled selected>Symbol</option>
          {% for row in portfolio %}
          <option value="{{row['symbol']}}">{{row['symbol']}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <input
          class="form-control"
          name="shares"
          placeholder="Shares"
          type="number"
          min="0"
        />
      </div>
      <button class="btn btn-primary" type="submit">Sell</button>
    </form>
  </div>

<div class="col-">
<!-- TradingView Widget BEGIN -->

<div class="tradingview-widget-container">
    <div id="tradingview_09e22"></div>
    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL stock chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": 640,
    "height": 510,
    "symbol": "NASDAQ:AAPL",
    "interval": "D",
    "timezone": "Asia/Kolkata",
    "theme": "dark",
    "style": "7",
    "locale": "in",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "save_image": false,
    "container_id": "tradingview_09e22"
  }
    );
    </script>
  </div>
  <!-- TradingView Widget END -->

</div>


{% endblock %}
