{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<main class="container p-5">

<h1 class="text-centre p-3 text-white">Check the price of Stock by entering Symbol of company
</h1>
    <form action="/quote" method="post">
        <div class="form-group">
            <input class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
    </main>
{% endblock %}